<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".list.TransactionListActivity"
            android:exported="true"
            android:theme="@style/Theme.PayOp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".detail.TransactionDetailActivity"
            android:exported="false"
            android:parentActivityName=".list.TransactionListActivity"
            android:theme="@style/Theme.PayOp" />
    </application>

</manifest>
